<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tudo em Um</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&family=Oswald:wght@200..700&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <div class="logo"><img src="/img/logo.png" alt="logo"></div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/cadastro">Cadastrar serviço</a></li>
            <li><a href="/login">Entrar</a></li>
            <li><a href="/suporte">Suporte</a></li>
        </ul>
    </nav>
</header>

<div class="main-container">
    <div class="content">
        <div class="text-box">
            <h1>SEU <br>SERVIÇO <br>AQUI</h1>
            <p>Impulsione seu negócio, junte-se ao <br>nosso site e conecte-se com novos <br> clientes que valorizam o seu talento!</p>
            <a href="/login">ENCONTRAR SERVIÇO</a>
        </div>
        
        <div class="image-box">
            <img src="/img/baixados (1).jpg" alt="Mãos unidas">
        </div>
    </div>
</div>
<div class="icons">
    <br><br><br>
    <h1>Beneficios para você</h1>
    <div class="mensagem">
        <img src="/img/celular.png" alt="mensagem"  >
        <br> <h3>Os pedidos de serviço chegam 
         <br>a toda hora no seu celular.</h3>
    </div>
    <div class="clientes">
        <img src="/img/maos.png" alt="">
        <br> <h3>O site conecta você com <br>pessoas em busca de produtos 
            <br>ou serviços como os seus. </h3>
    </div>
    <div class="clientes">
        <img src="/img/homem.png" alt="">
        <br><h3>A plataforma oferece ferramentas para <br> gerenciar seus produtos</h3>
    </div>
</div>
<div class="plano">
    <img src="/img/mulher.png" alt="">
    <div class="text">
<strong><h2>Plano Premium: Potencialize Suas Vendas e Conquiste o Sucesso</h2></strong>
<h3>Quer levar o seu negócio para o próximo nível?</h3>
<h4>Assine o nosso <strong>Plano Premium</strong> e aproveite todos os recursos exclusivos para aumentar suas vendas, 
   <br> melhorar sua visibilidade e conquistar ainda mais clientes.</h4>
   <a href="/planos" class="btn">Confira os Planos</a> 
    </div>
</div>
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/img/IMG_9368-removebg-preview.png" alt="Logo">
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Termos de Serviço</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Suporte</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Tudo em um - Todos os direitos reservados.</p>
    </div>
</footer>

</body>
</html>