/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0fba9e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #f5e5bf;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.login-form h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.input-group input:focus {
    border-color: #0fba9e; /* Cor do campo de input quando em foco */
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #0fba9e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0d9c89;
}

/* Links de rodapé */
.footer-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
}

.footer-links a {
    color: #0fba9e;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .login-container {
        padding: 20px;
        width: 90%;
    }
}
